body{background-color: azure;}
h1{font-style: oblique; font: 100;}
h2{font-style: oblique; font: 100;}
h3{font-style: oblique; font: 100;}
h4{font-style: oblique; font: 100;}
h5{font-style: italic; font: 100;}
p{text-align: left; font: 100;}
ul{font: 100;}
th{font-style: oblique; font: 100; text-align: left; text-indent: 5px;}
td{text-align: left; font: 100;}